*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1000px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 500px;
    float: left;
    height: 70px;
    margin-left: -100px;
}

.logo{
    color: #6ffb33;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    white-space: nowrap;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #6ffb33;
}
