*{
    margin: 0;
    padding: 0;

}

.main{
  width: 100%;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  height: 109vh;
  }

  h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 5px 5px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
    transition: 0.4s ease-in-out;
  }

  h1:hover{
    text-shadow: 1px 1px 15px rgb(0, 255, 55);
    color: rgb(0, 255, 55);
  }
  
  #start-form {
    text-align: center;
    font-size: 40px;
    background-color: rgb(0, 255, 55);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgb(0, 255, 55);
    margin: 20px auto;
    max-width: 600px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 3px 3px rgb(0, 0, 0);;
    font-family: 'Creepster' ;
  }

  #quiz-form {
    background-color: rgb(0, 255, 55);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 222, 55);
    margin: 20px auto;
    max-width: 600px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 5px 5px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
  }

  .question {
    margin-bottom: 15px;
  }
  
  #result {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 3px 3px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
  }

  #submit-button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    background-color: black;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 3px 3px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
    transition: 0.4s ease-in-out;
  }

  #submit-button:hover{
    text-shadow: 1px 1px 15px rgb(0, 255, 55);
    color: rgb(0, 255, 55);
  }

  #return-button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    background-color: black;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 3px 3px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
    transition: 0.4s ease-in-out;
  }

  #return-button:hover{
    text-shadow: 1px 1px 15px rgb(0, 255, 55);
    color: rgb(0, 255, 55);
  }
  
  #start-button {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    font-size: 40px;
    background-color: black;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 3px 3px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
    transition: 0.4s ease-in-out;
  }

  #start-button:hover{
    text-shadow: 1px 3px 3px rgb(0, 255, 55);
    color: rgb(0, 255, 55);
  }

  #toggle-css-button {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    background-color: black;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: 1px 3px 3px rgb(0, 255, 55);;
    font-family: 'Creepster' ;
    transition: 0.4s ease-in-out;
  }

  #toggle-css-button:hover{
    text-shadow: 1px 3px 3px rgb(0, 255, 55);
    color: rgb(0, 255, 55);
  }

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: border-color 0.4s;
}

input[type="radio"]:checked {
  border-color: rgb(0, 255, 55);
}